body {
  background-color: whitesmoke;
  max-width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
body header {
  background-color: #FFCAD4;
  text-align-last: center;
}
body header nav .icon {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}
body header nav .icon a img {
  border-radius: 150px;
  width: 150px;
  border-style: solid;
  border-color: #F4ACB7;
}
body header nav #header {
  background-color: #FFCAD4;
  text-align-last: center;
}
body header nav #header ul {
  padding: 0;
  text-align: center;
}
body header nav #header ul li {
  display: inline-block;
  margin: 15px;
  color: #4464AD;
}
body header nav #header ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: "Poppins";
  font-style: initial;
  padding: 5px;
}
body header nav #header ul li a:hover {
  background-color: whitesmoke;
  transition: 0.7s;
  border-radius: 10px;
  padding: 5px;
}
body main section .carousel {
  border-style: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body main section .carousel img {
  min-width: 20%;
}
body main section .carousel img:hover {
  min-width: 28%;
  transition: 0.7s;
}
body main section .razones {
  color: #000000;
}
body main section p {
  color: #4464AD;
  font-family: "Gill Sans";
}
body main .adopciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
}
body main .adopciones .titulo {
  grid-column: 1/4;
  grid-row: 1/1;
  text-align: center;
  font-size: 35px;
}
body main .adopciones .art1 {
  text-align: center;
  grid-column: 1/1;
  grid-row: 2/2;
}
body main .adopciones .art1 img {
  width: 80%;
}
body main .adopciones .art2 {
  text-align: center;
  grid-column: 2/2;
  grid-row: 2/2;
}
body main .adopciones .art2 img {
  width: 80%;
}
body main .adopciones .art3 {
  text-align: center;
  grid-column: 3/3;
  grid-row: 2/2;
}
body main .adopciones .art3 img {
  width: 80%;
}
body footer .redes {
  display: flex;
  align-items: center;
}
body footer .redes h3 {
  font-size: 24px;
}
body footer .redes img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 0 10px;
}
body footer .infoFooter {
  text-align: center;
}
body footer .infoFooter p {
  font-size: 10px;
}

@keyframes animacioncarousel {
  0% {
    min-width: 250px;
  }
  100% {
    min-width: 500px;
  }
}
.informacionContenedor div {
  text-align: center;
}

.requisitos h1 {
  text-align: center;
}

.inscripcionContenedor {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}
.inscripcionContenedor fieldset {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.inscripcionContenedor fieldset input {
  max-width: 300px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px 30px;
}

.respmenu {
  display: none;
}

@media (max-width: 800px) {
  .respmenu {
    display: block;
  }
  #header {
    display: none;
  }
  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-family: "Poppins", Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    border-bottom: 2px solid #f4acb7;
    max-width: 200px;
    background: #f4acb7;
    text-shadow: 1px 1px black;
    margin: auto;
    width: 100%;
  }
  .respmenu input[type=checkbox], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 1px;
    top: -21px;
    width: 48px;
    height: 48px;
  }
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  .respmenu input[type=checkbox] {
    opacity: 0;
  }
  .respmenu {
    color: white;
    position: relative;
    min-height: 48px;
  }
  .respmenu nav {
    display: none;
  }
  .respmenu input:checked ~ nav {
    display: block;
  }
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
  ul li {
    display: block;
  }
}
@media (max-width: 500px) {
  .adopciones {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }
  .art1 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .art2 {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .art3 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
}
@media (max-width: 1000px) {
  ul li {
    margin: 5px;
  }
}
.respmenu {
  display: none;
}

@media (max-width: 800px) {
  .respmenu {
    display: block;
  }
  #header {
    display: none;
  }
}
.contendorimagen {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contendorimagen img {
  position: absolute;
  width: 100%;
}

/*# sourceMappingURL=newStyle.css.map */
